<div class="container">
  <h1 class="text-center m-5" style="color: white"><%= @cocktail.name %></h1>

  <div class="back">
    <%= link_to cocktails_path, class: 'btn btn-primary' do %>
      <i class="fas fa-hand-point-left">&nbsp;Back</i>
    <% end %>
  </div>

  <div class="drink">

    <%= image_tag "https://www.thespruceeats.com/thmb/Pn3C5kVKZEgwJ5kEbAVHpgf1D50=/450x0/filters:no_upscale():max_bytes(150000):strip_icc()/strawberry-daiquiri-recipes-759821_13_preview1-5b05f448ba61770036fbae90.jpeg", alt: "strawberry-daiquiri", class: 'rounded' %>

    <div class="doses">
      <div class="details">
        <div class="ingredients">
          <h4 style="color: white">Ingredients</h4>
          <ul style="padding: 0;list-style: none; color: white">
            <% @cocktail.doses.each do |dose| %>
              <li>
                <%= link_to dose_path(dose), method: :delete, confirm: 'Are you sure?' do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
                <%= dose.ingredient.name %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="description">
          <h4 style="color:white">Description</h4>
          <ul style="padding:0;list-style:none;color:white">
            <% @cocktail.doses.each do |dose| %>
              <li>
                <%= dose.description %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="add text-center mt-5">
    <!-- <p style="color: white">Add ingredient to <%#= @cocktail.name %></p> -->
    <%= link_to new_cocktail_doses_path(@cocktail), class: 'btn btn-secondary' do %>
      <p class="mb-0">Add ingredient to <%= @cocktail.name %></p><i class="fas fa-plus-circle" style="color: white"></i>
    <% end %>
  </div>
</div>
