<div class="container">
  <h1 class="text-center m-5" style="color: white"><%= @cocktail.name %></h1>

  <div class="back">
    <%= link_to cocktails_path, class: 'btn btn-primary' do %>
      <i class="fas fa-hand-point-left">&nbsp;Back</i>
    <% end %>
  </div>

  <div class="drink">
    <%= cl_image_tag @cocktail.photo, crop: :fit, width: 500, height: 300, alt: @cocktail.name %>

    <div class="doses">
      <div class="details">
        <div class="ingredients">
          <h4 style="color: white">Ingredients</h4>
          <ul style="padding: 0;list-style: none; color: white">
            <% @cocktail.doses.each do |dose| %>
              <li>
                <%= link_to dose_path(dose), method: :delete, confirm: 'Are you sure?' do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
                <%= dose.ingredient.name %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="description">
          <h4 style="color:white">Description</h4>
          <ul style="padding:0;list-style:none;color:white">
            <% @cocktail.doses.each do |dose| %>
              <li>
                <%= dose.description %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="add text-center my-5">
    <%= render 'doses/form' %>
  </div>

</div>
